{% extends "vsocial/base.html"%}
{% block content %}
    <article class="media content-section shadow p-4 mb-4 bg-white">
        <img src="{{ object.author.profile.image.url }}" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                        <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <div>
                <strong class="text-secondary">{{ number_of_likes}} Like{{number_of_likes|pluralize}}</strong>
            </div>
        </div>
        <div class="content-section">
            {% if user.is_authenticated %}
                <form action="{% url 'post_like' post.id %}" method="POST">
                    {% csrf_token %}
                    
                        {% if user in post.likes.all %}
                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-info mr-2 px-3"> Unlike</button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-outline-info mr-2 px-4"> Like</button>
                        {% endif %}
                    
                    <a href="{% url 'post-comment' post.id %}" class="btn btn-outline-info mx-2">Comment</a>
                    <a href="#" class="btn btn-outline-info">Share</a>
                </form>
                
            {% endif %}
        </div>
    </article>
    <div class="content-section shadow p-4 mb-4 bg-white">
        <h1>Comments({{post.comments.all.count}})...</h1>
        <br>
        <br>
        <hr>
        {% if not post.comments.all %}
            <hr>
            <h3>No commented yet...</h3>
            <a href="{% url 'post-comment' object.pk %}">Write a Comment...</a>
        {% else %}
            {% for comment in post.comments.all %}
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                <p class="article-content">{{ comment.body }}</p>
            </div>
            {% endfor%}
            <a href="{% url 'post-comment' object.pk %}" class="mx-auto">Write a Comment...</a>
        {% endif %}
    </div>
{% endblock %}
